footer {
    background-color: #1e4061;
    color: white;
    padding: 40px 0;
    text-align: center;
    position: relative; /* Asegura que el footer esté en su lugar */
  }
  
  .footer-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .footer-icons li {
    display: inline-block;
  }
  
  .footer-icons a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-icons a:hover {
    color:#72e0ea; /* Cambia de color al pasar el ratón */
  }
  footer p {
    margin-top: 10px;
    text-align: center; /* Asegura que el texto esté centrado */
    width: 100%; /* Asegura que el elemento ocupe todo el ancho del contenedor */
  }  
 