body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita el desbordamiento horizontal */
  background: linear-gradient(to right, #00011F, #004A97, #00002D);
}

header {
  margin: 4%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-bottom: 0;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.encabezado {
  display: flex;
}

.encabezado p {
  font-size: 17px;
  margin: 0;
  padding: 0 4px;
  color: white;
}

.encabezado .p {
  color: #75ced6;
}

.arriba, .parte2div, .div3, .ultimaparte, .div4 {
  display: flex;
  justify-content: center;
  margin: 2%;
  margin-top: 0;
  margin-bottom: 0;
}
/* Estilos del botón */
button {
  display: inline-block;
  border: none;
  border-radius: 8px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 16px;
  cursor: pointer;
  width: 100px;
  height: 35px;
  text-align: center;
  color: white;
  background: #e17649;
  z-index: 1;
}

/* From Uiverse.io by BHARGAVPATEL1244 */ 
button span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
}

button:hover span {
  color: black;
}

button::before,
button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

button::before {
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

button:hover::before {
  transform: translate3d(100%, 0, 0);
}

/* Unificación de estilos para divs */
.inicio_pagina, .dosdiv, .tercerdiv, .dos_pagina, .tres_pagina, .cuatro_pagina, .unotres, .dostres, .trestres {
  font-size: 30px;
  text-align: center;
  margin: 4% 2% 8%; /* Combina márgenes */
  margin-bottom: 0;
  margin-top: 0;
  width: 70%;
  height: 350px;
  background-color: #15c0cf;
  border-radius: 10px;
  transition: transform 0.3s ease; /* Transición suave para la transformación */
}

.cuatrotres, .cincotres {
  font-size: 30px;
  text-align: center;
  margin: 4% 2% 8%; /* Combina márgenes */
  width: 30%;
  height: 350px;
  margin-bottom: 0;
  background-color: #15c0cf;
  border-radius: 8px;
  transition: transform 0.3s ease; /* Transición suave para la transformación */
}
.seistres, .sietetres {
  font-size: 30px;
  text-align: center;
  margin: 4% 2% 8%; /* Combina márgenes */
  width: 30%;
  height: 350px;
  margin-bottom: 30px;
  margin-top: 0;
  background-color: #15c0cf;
  border-radius: 8px;
  transition: transform 0.3s ease; /* Transición suave para la transformación */
}
.inicio_pagina:hover, .dosdiv:hover, .tercerdiv:hover, .dos_pagina:hover, .tres_pagina:hover, .cuatro_pagina:hover, .unotres:hover, .dostres:hover, .trestres:hover, .cuatrotres:hover, .cincotres:hover, .seistres:hover, .sietetres:hover {
  transform: translateY(-15px); /* Mueve el elemento hacia arriba */
}

nav ul {
  list-style: none; /* Elimina los puntos de la lista */
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px; /* Espacio entre los enlaces */
}

nav ul li {
  margin: 10px 0; /* Añadir margen arriba y abajo */
}

nav ul li a {
  text-decoration: none;
  padding: 10px;
  color: white;
  font-size: 16px;
  position: relative; /* Necesario para la línea */
}

nav ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: #e17649;
  transition: all 0.3s ease-out;
}

nav ul li a:hover::after {
  width: 100%;
  left: 0;
}

.menu-btn, .close-btn {
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: white;
}

.footer-icons {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
  color: white;
}

.footer-icons li a {
  color: white;
  font-size: 24px;
  transition: color 0.3s;
}

.footer-icons li a:hover {
  color: #72e0ea;
}

footer {
  height: 60px;
}

footer p {
  color: white;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .menu-btn {
    display: block;
    position: absolute;
    top: 20px; /* Ajusta la posición vertical */
    right: 20px;
    z-index: 1001;
  }
  .encabezado{
   padding-top: 20px; /* Ajusta la posición vertical */
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  nav.menu-open {
    display: flex;
  }

  nav ul {
    flex-direction: column;
    gap: 15px; /* Espacio entre las opciones */
    align-items: center; /* Centra los textos */
  }

  nav ul li {
    margin: 15px 0; /* Aumenta el margen superior e inferior en vista móvil */
  }

  nav ul li a {
    font-size: 24px;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center; /* Centra el texto */
  }
  .h2 h2{ 
    padding-top: 11%;
  }
  .arriba, .parte2div, .h21, .div2, .div3, .div4, .ultimaparte {
    flex-direction: column;
    align-items: center;
  }

  /* Responsivo para divs */
  .inicio_pagina, .dosdiv, .tercerdiv, .dos_pagina, .tres_pagina, .cuatro_pagina, .unotres, .dostres, .trestres, .cuatrotres, .cincotres, .seistres, .sietetres {
    width: 80%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 10px;
  }

  .encabezado {
    position: absolute;
    text-align: left;
    top: 5px;
    margin: 1%;
  }

  .close-btn {
    position: absolute;
    top: 15px; /* Ajusta la posición vertical de la X */
    right: 20px;
    z-index: 1002;
    font-size: 24px;
    color: white;
  }

  footer p {
    font-size: 16px;
  }
}

.iconos {
  margin: 40px 0; /* Baja un poco más los iconos */
  text-align: center;
  padding: 20px 0;
}

.iconos a {
  color: white;
  margin: 0 10px;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s;
}

.iconos a:hover {
  color: #72e0ea;
}

@media (max-width: 480px) {
  .empresa h1 {
    font-size: 24px;
  }

  .empresa p, header nav ul li a {
    font-size: 14px;
    margin-top: 5%;
  }
  
}

.h2 h2, .h21 h2, .div2 h2, .div3R h2{ /* H2 SE SEPAARCIONES */
  text-align: center;
  color: white;
  margin: 2%;
  margin-bottom: 2%;
  margin-top: 2%;
}

.inicio_pagina img, .dosdiv img, .tercerdiv img, .dos_pagina img, .tres_pagina img, .cuatro_pagina img, .unotres img, .dostres img, .trestres img, .cuatrotres img, .cincotres img, .seistres img, .sietetres img {
  width: 300px;
  height: 200px;
  border-radius: 5%;
  margin: 10px 0 1px;
}

.inicio_pagina h2, p, .dosdiv h2,p, .tercerdiv h2,p, .dos_pagina h2,p, .tres_pagina h2,p, .cuatro_pagina h2,p, .unotres h2,p, .dostres h2,p, .trestres h2,p, .cuatrotres h2,p, .cincotres h2,p, .seistres h2,p, .sietetres h2,p {
  font-size:19px;
  padding-bottom: 0;
  color: black;
  margin-top: 5px; /* Ajusta este valor según sea necesario */
}
