* {
    margin: 0;
    padding: 0; /* Asegúrate de que el padding también esté en 0 */
    box-sizing: border-box; /* Incluye el padding y el borde en el tamaño total */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #00011F, #004A97, #00002D);
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
}

header {
    margin: 0 4%; /* Ajusta márgenes uniformemente */
    margin-top: 3%;
    margin-bottom: 0;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent; /* Ajusta esto según tus necesidades */
    position: relative;
}

.encabezado {
    display: flex;
    flex-direction: row;
}

.encabezado p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-align: right;
    display: block;
    margin: 0;
    padding: 0 4px;
}

.encabezado .p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #75ced6;
}

p {
    margin: 0;
    color: white;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul {
    list-style: none; /* Elimina los puntos de la lista */
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px; /* Espacio entre los enlaces */
}

nav ul li {
    position: relative; /* Necesario para posicionar la línea */
}

nav ul li a {
    text-decoration: none;
    padding: 10px;
    position: relative; /* Necesario para la línea */
    color: white;
    font-size: 16px;
}

nav ul li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #73b5fb;
    transition: all 0.3s ease-out;
}

nav ul li a:hover::after {
    width: 100%;
    left: 0;
}

.menu-btn, .close-btn {
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: white;
}

h1 {
    margin-top: 3%;
    color: white;
    text-align: center;
    padding-bottom: 1%;
}

h2 {
    color: white;
}

.planes {
    text-align: justify;
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 0;
}

.parte1, .parte2, .parte3 {
    width: 350px;
    margin: 2%;
    font-size: 19px;
    background: linear-gradient(to right, #314f86, #1f5794);
    border-radius: 5%;
    transition: transform 0.3s ease; /* Transición suave para la transformación */
    text-align: center;
}
.parte1 p, .parte2 p, .parte3 p{
    text-align: justify;
}

.parte1:hover, .parte2:hover, .parte3:hover {
    transform: translateY(-15px); /* Mueve el elemento hacia arriba */
}

.parte1 img, .parte2 img, .parte3 img {
    width: 190px;
    height: 200px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 2%;
    filter: invert(1); /* Invierte los colores: negro a blanco */
}

.parte1 h2, .parte2 h2, .parte3 h2 {
    margin: 3%;
    text-align: center;
}

.parte1 p, h2, .parte2 p, h2, .parte3 p, h2 {
    margin: 3%;
}

.planes2 {
    text-align: justify;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 0;
}

.plan1, .plan2, .plan3 {
    background: linear-gradient(to left, #303397, #336090);
    border-radius: 5%;
    width: 350px;
    height: 430px;
    text-align: center;
    font-size: 20px;
    margin: 1%;
    transition: transform 0.3s ease; /* Transición suave para la transformación */
}
.plan1:hover, .plan2:hover, .plan3:hover {
    transform: translateY(-15px); /* Mueve el elemento hacia arriba */
}


.plan1 h1, p, .plan2 h1, p, .plan3 h1, p {
    margin: 2%;
    padding: 6%;
}

.plan1 button, .plan2 button, .plan3 button {
    width: 200px;
    height: 35px;
    border-radius: 8px;
}
/* From Uiverse.io by ArturCodeCraft */ 
/* <reset-style> ============================ */
.boton{
    display: flex;
    justify-content: center;
}
/* From Uiverse.io by mrhyddenn */ 
button {
    position: relative;
    text-align: center;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
  button:hover {
    background: rgb(99, 221, 240);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    color: black;
  }
  
  button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }
  


/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .menu-btn {
        display: block;
        position: absolute; /* Cambia a posición absoluta para quedarse en el encabezado */
        top: 5px;
        right: 20px;
        z-index: 1001; /* Asegura que el botón esté por encima del contenido */
    }

    .close-btn {
        display: block;
        position: absolute; /* Cambia a posición absoluta para quedarse en el encabezado */
        top: 20px;
        right: 20px;
        z-index: 1002; /* Asegura que el botón esté por encima del contenido */
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8); /* Fondo semi-transparente */
        backdrop-filter: blur(10px); /* Desenfoque de fondo */
        display: none; /* Oculta el menú por defecto */
        align-items: center;
        justify-content: center;
        z-index: 1000;
    }

    nav.menu-open {
        display: flex;
    }

    nav ul {
        flex-direction: column;
        gap: 40px; /* Espacio entre las opciones */
    }

    nav ul li {
        margin-bottom: 10px; /* Reducir el margen entre las opciones */
        text-align: center;
    }

    nav ul li a {
        font-size: 24px;
        background: rgba(255, 255, 255, 0.1); /* Fondo semi-transparente para los enlaces */
        padding: 10px 20px;
        border-radius: 5px;
    }

    .planes, .planes2 {
        padding-top: 10%;
        flex-direction: column;
        align-items: center;
    }
footer{
    margin-top: 2%;
}
    h1 {
        padding-top: 10%;
    }

    /*RESPONSIVE IMAGENES Y DIVS */
    .parte1, .parte2, .parte3 {
        width: 90%;
        text-align: center;
    }
    .parte1 p, .parte2 p, .parte3 p{
        width: 90%;
        text-align: justify;
    }

    .plan1, .plan2, .plan3 {
        width: 90%;
        height: 485px;
    }

    .parte1 img, .parte2 img, .parte3 img {
        width: auto;
    height: 210px;
        margin: 3%;
        margin-top: 1%;
        filter: invert(1); /* Invierte los colores: negro a blanco */
    }

    .plan1 button, .plan2 button, .plan3 button {
        border-radius: 8px;
    }

    .encabezado {
        position: absolute;
        text-align: left;
        top: 5px;
        margin: 1%;
    }
}

footer {
    background-color: #1e4061;
    color: white;
    width: 100%;
    padding: 40px 0;
    text-align: center;
    position: relative; /* Asegura que el footer esté en su lugar */
}

.footer-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-icons li {
    display: inline-block;
}

.footer-icons a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-icons a:hover {
    color: #72e0ea; /* Cambia de color al pasar el ratón */
}

footer p {
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center; /* Asegura que el texto esté centrado */
    padding: 0 10px; /* Añade un pequeño padding lateral si es necesario */
}
